---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about me">
    <h1>About me</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo labore, aut asperiores nisi soluta totam quaerat facere ab, dolor nihil placeat itaque ad explicabo id corporis impedit a! Soluta, voluptate?</p>
</Layout>