---
import Layout from '../layouts/Layout.astro';
---

<Layout title="John Doe">
	<main class="container mx-auto ">
    <h1 class="text-4xl text-white z-10">John Doe Personnal Website</h1>

    <div>
      <video
        autoplay
        class="aspect-video absolute top-0 left-0 w-full h-full object-cover -z-10"
        src="https://res.cloudinary.com/dw6nin1do/video/upload/v1695306239/HARALD_DUPLOUIS_-_DIRECTOR_OF_PHOTOGRAPHY_-_SHOWREEL_mmyjwu.mp4"
      />

      <!-- <iframe
        width="100%"
        class="aspect-video"
        src="https://www.youtube.com/embed/oJg6yT5nirg"
        title="HARALD DUPLOUIS - DIRECTOR OF PHOTOGRAPHY - SHOWREEL"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      /> -->
    </div>
  </main>
</Layout>
